body {
  margin: 0;
  padding: 0;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  height: 70px;
  background: #262626;
  opacity: 0.8;
  width: 100%;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a img {
  max-height: 70px;
  display: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
.nav-bar-right{
  float: right;
  margin-top: -70px;
}
@media screen and (max-width: 820px) {
  .brand a img {
    display: block;
    max-height: 60px;
    margin-top: 5px;
    border-radius: 36px;
  }
}
.top-left {
           position: absolute;
           top: 45px;
           left:40%;
           font-size:48px;
           color:#000000;
           font-weight:bold;
           text-decoration: none;
      }

.top-right {
             position: absolute;
            margin-left:5%;
            font-size:36px;
            color:#000000;
            font-weight:bold;
            margin-top:-790px;
                   }

.top-down {
            position: absolute;
            top: 250px;
      margin-left:2%;
          font-size:56px;
          color:#000000;
      font-weight:bold;
        }

.top-center {
        position: absolute;
        top: 325px;
        margin-left:2%;
        font-size:56px;
        color:#000000;
        font-weight:bold;
      }

.top-bottom {
        position: absolute;
        top: 400px;
        margin-left:2%;
        font-size:24px;
        color:#000000;
        font-weight:bold;
}
.g {
    background-image:url('/week8/pset8/homepage/Dental Clinic/toothbrush-4020539_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin-top:50px;
    height:750px;
    width:100%;

}
.navbar {
      overflow: hidden;
      background-color:#333;
      position: absolute;
      top: 0;
      width: 100%;
      height: 50px;
      color:#FFFFFF;
}


.navbar a {
        float: center;
        display: block;
        color: #f2f2f2;
        text-align: center;
        margin-left:10px;
        text-decoration: none;
        font-size: 17px;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}


#para1 {
    font-size:20px;
    position: absolute;
    margin-left: 25px;
    margin-top:15px;
     }
#para2 {
    font-size:48px;
    text-align:left;
    margin-bottom: 0px;
    display: inline-block;
    }
#para3 a{
  font-size: 22px;
  float: right;
  margin-top: -5px;
  margin-right: 2.5%;
}
#para5{
  margin-top: 0;
  display: inline-block;
  margin-bottom: 30px;
}
.mobile{
    font-size:26px;
    position: absolute;
    margin-left: 10px;
    margin-top:10px;
}
.navbarbottom {
      overflow: hidden;
      background-color:#606060FF;
      bottom: 0;
      width: auto;
      height: auto;
}
.nav-main{
        margin-top: 10px;
        display: block;
        color: #f2f2f2;
        margin-left: 10px;
        text-decoration: none;
        font-size: 36px;
        display: inline-block;
}
.parent{
  position: relative;
  margin-bottom: 150px;
}
.inner-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 50px;
}
.img1{
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 6px;
  height: 80px;
  width: 80px;
  display: inline-block;
}
.maps{
  margin-top: -520px;
  margin-right: 10px;
  float: right;
  box-shadow: 2px 2px #888888;
}
.basic{
  height: auto;
  width: 100%;
  background-color: #91D09F;
  opacity: 0.8;
  margin-bottom: 150px;
}
.hello {
  font-size: 72px;
  color: #008000;
}
.nav-bar-most-bottom{
  background-color: #B1B3B3FF;
  height: 30px;
  width: 100%;
}
.rights{
  padding-top: 5px;
  margin-left: 13px;
  font-size: 12px;
  text-align: center;
}
#head{
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  font-family: Comic Sans MS;
}
.span1{
  margin-top: 40px;
  color: #008000;
  display: inline-block;
}
.bord{
    border-bottom: 1px solid #008000;
    display: inline-block;
}
.head-down{
  text-align: center;
  margin-bottom: 50px;
}
.main-text{
  font-size: 75%;
  font-family: PT Sans;
  color: #747474;
  margin: 0px 0px 20px 0px;
  text-align: center;
}
.fusion-head{
  font-size: 28px;
  color: #fff;
  font-family: Open Sans, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
}
.fusion-text{
  margin-top: 0px;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.location{
  color: #FFA500;
}
.rt{
  margin-left: 47%;
  margin-top: -22px;
  margin-right: auto;
}
.tel-phone{
  color: orange;
  margin-left: -49%;
}
.border-line{
  height:10px;
  background:#02c3e4;
  width:75%;
  margin: auto;
  margin-bottom: 0;
}
.bot{
  display: block;
  font-size: 12px;
}
.bot-08{
  font-size: 12px;
  color: #20B2AA;
  display: inline-block;
  text-decoration: none;
}
.bot-07{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-left: 2px;
}
.navbarbottom {
      overflow: hidden;
      background-color:#606060FF;
      bottom: 0;
      width: auto;
      height: auto;
}